* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #3cc5ff;
  border-bottom: 1px solid #e5e5e5;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.navbar div {
  display: flex;
  align-items: center;
}

.navbar img {
  margin-bottom: -7%;
  width: 100px;
  height: auto;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.2rem;
}

.navbar a:hover {
  color: #000000;
  text-decoration: underline;
}

.navbar-index {
  background-color: #3cc5ff;
  border-bottom: 1px solid #e5e5e5;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.navbar-index img {
  margin-bottom: -2.5%;
  width: 100px;
  height: auto;
}

.navbar-index button {
  background-color: #ffffff;
  color: #000000;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.navbar button {
  background-color: #ffffff;
  color: #000000;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.btn-sair:hover {
  background-color: #ffc107;
  color: #000000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 20px 0;
}

.sub-header h1 {
  font-size: 1.5rem;
  margin: 10px;
}

.sub-header p {
  font-size: 1.2rem;
  color: #ffc107;
  font-weight: bold;
}

.container-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}

.btn-produto {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3cc5ff;
  color: #000000;
  border: 1px solid #1786b6;
  padding: 30px 140px;
  text-decoration: none;
  margin: 15px;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn-produto label {
  font-size: 0.9em;
  cursor: pointer;
  padding: 0 0 0 10px;
}

.btn-produto:hover {
  background-color: #43adda;
  color: #fff;
  padding: 30px 150px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

svg {
  width: 50px;
  height: 50px;
}

.name-admin {
  font-size: 1.2em;
  font-weight: bold;
  color: #ffc107;
}
